body{
    background-color: bisque;
}
.container {
    max-width: 350px;
    margin: 10vh auto 0 auto;
   
    background-color: white;
}

#displayScreen {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.allButtons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.allButtons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
.btn {
    border: 0.5px solid #999;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}


.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}